* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #1f2937;
    color:#f9faf8;
    padding:10px 200px 50px 200px;
}

.header-upper {
    display: flex;
    justify-content: space-between;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-lower h2 {
    font-size: 48px;
    font-weight: 900;
}

.header-lower-left {
    max-width: 400px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
}

#stock-photo {
    max-width: 500px;
    flex: 1;
}

.upper-middle {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px 200px 50px 200px;
    gap:10px;
}

.upper-middle h2 {
    text-align: center;
}
.card-box ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.card p {
    max-width: 100px;
}

.card img {
    border: solid 2px #1f2937;
    border-radius: 5px;
    max-width: 100px;
    min-height: 100px;
    margin-bottom: 5px;
}

.lower-middle {
    background-color:#e5e7eb;
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

#quotee {
    align-self: flex-end;
}

.call-action {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    justify-content: space-between;
    padding: 40px 80px;
    border-radius: 5px;
}

footer {
    padding: 50px 200px 50px 200px;
}


.call-action-text {
    display: flex;
    flex-direction: column;
}