* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #1f2937;
    color:#f9faf8;
    padding:10px 200px 50px 200px;
}

.header-upper {
    display: flex;
    justify-content: space-between;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-lower h2 {
    font-size: 48px;
    font-weight: 900;
}

.header-lower-left {
    max-width: 400px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
}

#stock-photo {
    max-width: 500px;
    flex: 1;
}